<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Triagem</title>
</head>
<body>
    <h2>
        Cadastrar novo paciente
    </h2>

    <form action ="/salvarPaciente" method = "POST">

        <label>Nome completo do paciente: </label><br>
        <input type="text" name="nome" required><br><br>

        <label>Idade do paciente: </label><br>
        <input type="number" name="idade" required><br><br>

        <label>CPF completo do paciente: </label><br>
        <input type="text" name="cpf" ><br><br>

        <button type="submit">Salvar informações</button>

<div th:if="${mensagemErro}" th:text="${mensagemErro}" style="color: red; font-weight: bold; margin-bottom: 15px;"></div>
<div th:if="${mensagemSucesso}" th:text="${mensagemSucesso}" style="color: green; font-weight: bold; margin-bottom: 15px;"></div>

    </form>
</body>
</html>